SMTP_SERVER="{{ zabbix_mail_smtp_server }}"
SMTP_PORT="{{ zabbix_mail_smtp_port }}"
SMTP_FROM="{{ zabbix_mail_smtp_email }}"
SMTP_USER="{{ zabbix_mail_smtp_username }}"
SMTP_PASSWORD="{{ zabbix_mail_smtp_password }}"
